.Rectangle_3
{
  background : #333333;
  background : rgba(51, 51, 51, 1);
  width : 1552px;
  height : 700px;
  border-radius : 41px;
  -moz-border-radius : 41px;
  -webkit-border-radius : 41px;
}
.Add_Song
{
  background-image : url(Add_Song.png);
  /*To create image referenced in CSS, use 'Export Selected CSS' command.*/
  background-repeat : no-repeat;
  width : 118px;
  height : 29px;
}
.st0
{
  background : #1D1D1D;
  background : rgba(29, 29, 29, 1);
  width : 1730px;
  height : 1007px;
}
.Group_1
{
  background-image : url(Group_1.png);
  /*To create image referenced in CSS, use 'Export Selected CSS' command.*/
  background-repeat : no-repeat;
  width : 1658px;
  height : 111px;
}
.Rectangle_2
{
  background : #1D1D1D;
  background : rgba(29, 29, 29, 1);
  width : 242px;
  height : 63px;
  border-radius : 20px;
  -moz-border-radius : 20px;
  -webkit-border-radius : 20px;
}
.Listing_Songs
{
  background-image : url(Listing_Songs.png);
  /*To create image referenced in CSS, use 'Export Selected CSS' command.*/
  background-repeat : no-repeat;
  width : 314px;
  height : 56px;
}
