@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

#live-root::-webkit-scrollbar-thumb {
  /* Style away! */
  background-color: #F79757;
  border-radius: 5px;
}

#live-root::-webkit-scrollbar {
  width: 5px;
  background-color: #1D1D1D;
  border-color: #F79757;
  border: 1px;
}

